name: Greeting

on:
  push:
    branches:
      - main

  workflow_run:
    workflows: [Merge tag into main (FF-only)]
    types: [completed]

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello!"
